<!--
=========================================================
* * Black Dashboard - v1.0.1
=========================================================

* Product Page: https://www.creative-tim.com/product/black-dashboard
* Copyright 2019 Creative Tim (https://www.creative-tim.com)


* Coded by Creative Tim

=========================================================

* The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../assets/img/favicon.png">
  <title>
    Black Dashboard by Creative Tim
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,600,700,800" rel="stylesheet" />
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <!-- Nucleo Icons -->
  <link href="../assets/css/nucleo-icons.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link href="../assets/css/black-dashboard.css?v=1.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper">
    <div class="sidebar">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
    -->
      <div class="sidebar-wrapper">
        <div class="logo">
          <a href="javascript:void(0)" class="simple-text logo-mini">
            CT
          </a>
          <a href="javascript:void(0)" class="simple-text logo-normal">
            Creative Tim
          </a>
        </div>
        <ul class="nav">
          <li class="active ">
            <a href="./dashboard.html"><a href="/">
                <i class="tim-icons icon-chart-pie-36"></i>
                <p>Main</p>
              </a>
          </li>
          <li>
            <a href="./icons.html"><a href="/icons/">
                <i class="tim-icons icon-atom"></i>
                <p>Pictures</p>
              </a>
          </li>
          <li>
            <a href="./map.html"><a href="/map/">
                <i class="tim-icons icon-pin"></i>
                <p>OverLook</p>
              </a>
          </li>
          <li>
            <!-- <a href="./notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications</p>
            </a> -->
          </li>
          <li>
            <a href="./user.html"><a href="/tables/">
                <i class="tim-icons icon-single-02"></i>
                <p>Developers</p>
              </a>
          </li>
          <li>
            <a href="./tables.html"><a href="/user/">
                <i class="tim-icons icon-puzzle-10"></i>
                <p>Works Cited</p>
              </a>
          </li>
          <li>
            <!-- <a href="./typography.html">
              <i class="tim-icons icon-align-center"></i>
              <p>Typography</p>
            </a> -->
          </li>
          <li>
            <!-- <a href="./rtl.html">
              <i class="tim-icons icon-world"></i>
              <p>RTL Support</p>
            </a> -->
          </li>
          <li class="active-pro">
            <!-- <a href="./upgrade.html">
              <i class="tim-icons icon-spaceship"></i>
              <p>Upgrade to PRO</p>
            </a> -->
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-absolute navbar-transparent">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle d-inline">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="javascript:void(0)">Pictures</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
          <div class="collapse navbar-collapse" id="navigation">
            <!-- <ul class="navbar-nav ml-auto"> -->
            <!-- <li class="search-bar input-group"> -->
            <!-- <button class="btn btn-link" id="search-button" data-toggle="modal" data-target="#searchModal"><i class="tim-icons icon-zoom-split" ></i> -->
            <!-- <span class="d-lg-none d-md-block">Search</span>
              </button> -->
            </li>
            <!-- <li class="dropdown nav-item"> -->
            <!-- <a href="javascript:void(0)" class="dropdown-toggle nav-link" data-toggle="dropdown"> -->
            <!-- <div class="notification d-none d-lg-block d-xl-block"></div> -->
            <!-- <i class="tim-icons icon-sound-wave"></i> -->
            <!-- <p class="d-lg-none">
                Notifications
              </p>
            </a> -->
            <ul class="dropdown-menu dropdown-menu-right dropdown-navbar">
              <!-- <li class="nav-link"><a href="#" class="nav-item dropdown-item">Mike John responded to your email</a></li> -->
              <!-- <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">You have 5 more tasks</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Your friend Michael is in town</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another notification</a></li>
                  <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Another one</a></li> -->
            </ul>
            </li>
            <!-- <li class="dropdown nav-item"> -->
            <!-- <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"> -->
            <div class="photo">
              <!-- <img src="../assets/img/anime3.png" alt="Profile Photo"> -->
            </div>
            <!-- <b class="caret d-none d-lg-block d-xl-block"></b> -->
            <p class="d-lg-none">
              <!-- Log out -->
            </p>
            </a>
            <ul class="dropdown-menu dropdown-navbar">
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Profile</a></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Settings</a></li>
              <li class="dropdown-divider"></li>
              <li class="nav-link"><a href="javascript:void(0)" class="nav-item dropdown-item">Log out</a></li>
            </ul>
            </li>
            <li class="separator d-lg-none"></li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="modal modal-search fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="searchModal"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="SEARCH">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="tim-icons icon-simple-remove"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- End Navbar -->
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h5 class="title">The Freeze In Plain View</h5>
                <p class="category">Viewing the Coldest texas has ever been <a
                    href="https://i1.wp.com/electrek.co/wp-content/uploads/sites/3/2021/02/Dallas-Fort-Worth-freeze-1.jpg?w=2000&quality=82&strip=all&ssl=1">Texas</a>
                </p>
              </div>
              <div class="card-body all-icons">
                <div class="row">
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://i0.wp.com/ips-dc.org/wp-content/uploads/2021/02/A-utility-structure-is-encased-in-ice-on-February-15-2021-in-Houston-Texas.-Photo-by-May-Ying-Lam-via-Creative-Commons.jpg?resize=1080%2C675&ssl=1"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTF5d92ujYuYMRhA6KP_-ENLOiE7SZ7qc-6rgNhN2Sm5thN2e-IDIN57u-w2mPhlsFnUZo&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://www.gannett-cdn.com/presto/2021/02/14/NAAS/736a45cb-9b5d-403f-b6c0-06e89acdd969-BMW_Austin_Freeze_03.JPG"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://assets.rbl.ms/26144565/origin.jpg" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://s.abcnews.com/images/US/WireAP_15181fad2f0e4155aca48cf25f918da7_16x9_992.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://cdn.digg.com/wp-content/uploads/2021/02/17195103/pjimage-2021-02-17T145049.400.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://images.financialexpress.com/2021/02/Texas-winter-storm-2021-Reuters.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://www.gannett-cdn.com/presto/2021/02/23/NSET/c69c3feb-24f7-4e3f-b425-6b53406a1384-TX_Grid_2.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://cdn.chinadialogue.net/content/uploads/2021/03/24125923/texas-frozen-cacti-china-dialogue.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://static01.nyt.com/images/2021/02/19/us/19texas-victims-new/merlin_183952452_17e0e49e-df85-4d90-bfac-3468a4ee3513-articleLarge.jpg?quality=75&auto=webp&disable=upscale"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://amp.insurancejournal.com/app/uploads/2021/02/texas-snowstorm-2021-580x435.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://media.npr.org/assets/img/2021/03/26/ap21051070029982-5dceafb2c6ad1c2dadc696a0210a9f5d3cb8e512.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT88zNS6otIiLvMb9HuLMPbJZ4cwNn1vSlGiA&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://assets.bwbx.io/images/users/iqjWHBFdfxIU/ijGH..CatxO4/v0/1200x900.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://www.aljazeera.com/wp-content/uploads/2021/02/368197009.jpg?resize=770%2C513"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://media.npr.org/assets/img/2021/02/19/gettyimages-1303057364_wide-57d9abd0b4ad01fc74f7cc5eab92819924cc56a1.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://image.cnbcfm.com/api/v1/image/106841197-1613519883796-gettyimages-1231205316-winterstormtexas212.jpeg?v=1613519963"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://s.abcnews.com/images/US/WireAP_c7936d6bb21b4235ae0740ec68ae07d6_4x3_608.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGRG0c7QmRTyDX7CEM2WUCkHYMuKrX7Ll8Fg&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://d.newsweek.com/en/full/1738945/winter-storm-fort-worth-texas-february-2021.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://e2techtextiles.com/wp-content/uploads/2021/03/deep-freeze.jpg" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://c2.thejournal.ie/media/2021/02/2-58110396-390x285.jpg" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://static.boredpanda.com/blog/wp-content/uploads/2021/02/1361065563796168706-png__700.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://cloudfront-us-east-1.images.arcpublishing.com/gmg/GROV43JSNZCXPDTPRSOW5V26NA.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://www.rollingstone.com/wp-content/uploads/2021/02/austin-snowstorm-blackout.jpg?resize=1800,1200&w=1200"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://s.abcnews.com/images/US/texas-highway-gty-ps-210219_1613743639551_hpMain_16x9_992.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXw5xaw6zqKH7qeN8B7hfWMfL4A_xlhBRhAg&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://www.valleycentral.com/wp-content/uploads/sites/39/2021/02/FRI-AM-FREEZE.jpg?w=900"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://www.nationalobserver.com/sites/nationalobserver.com/files/styles/nat_header_full_size/public/img/2021/02/18/water_damage.jpg?itok=Ag7DVQrW"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://e360.yale.edu/assets/site/_1500x1500_fit_center-center_80/Cold-Header.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://thumbnails.texastribune.org/sIJ6in-tI1o_EE_IUKeE8Tvp4BQ=/850x570/smart/filters:quality(75)/https://static.texastribune.org/media/files/646535c4b955ef4e0f85a16b87d158c0/Winter%20Storm%20McKinney%20ST%20TT%2006.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://static.straitstimes.com.sg/s3fs-public/styles/xxx_large/public/articles/2021/02/19/1_copy.jpg?itok=WkKbKH73&timestamp=1613693000"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://acee.princeton.edu/wp-content/uploads/2021/02/icicles_pipeline-500x375.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://thumbnails.texastribune.org/71G4PLDm5G_MdeUeyHCri7grozY=/850x570/smart/filters:quality(75)/https://static.texastribune.org/media/files/120f80cda439cd42c625fb6ed66de545/ATX%20Winter%20Storm%20SF%20TT%2020.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://s.hdnux.com/photos/01/16/50/61/20614231/43/1200x0.jpg" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://compote.slate.com/images/1ee77cca-9379-44c8-9fee-5f7594baafe3.jpeg?width=780&height=520&rect=3000x2000&offset=0x0"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://texasnewsexpress.com/sites/default/files/2021-02/Cold%20weather%20coming%20to%20Texas.png"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://a57.foxnews.com/static.foxbusiness.com/foxbusiness.com/content/uploads/2021/02/931/523/texas-river.jpg?ve=1&tl=1"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://www.fccnn.com/incoming/6896986-yklhan-Max-King-cooks-a-pizza-on-a-charcoal-grill-after-winter-weather-caused-electricity-blackouts-in-San-Marcos/alternates/BASE_LANDSCAPE/Max%20King%20cooks%20a%20pizza%20on%20a%20charcoal%20grill%20after%20winter%20weather%20caused%20electricity%20blackouts%20in%20San%20Marcos"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://www.texaselectricityratings.com/blog/wp-content/uploads/2021/02/iStock-911307090-350x232.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://media.kiiitv.com/assets/KIII/images/d5611823-589f-4172-ad5a-078cee869f6d/d5611823-589f-4172-ad5a-078cee869f6d_750x422.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fkfmb.images.worldnow.com%2Fimages%2F6807795_G.jpg%3Fauto%3Dwebp%26disable%3Dupscale%26width%3D800&f=1&nofb=1"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://images.theconversation.com/files/418726/original/file-20210831-27-cebl7j.jpg?ixlib=rb-1.1.0&rect=547%2C26%2C2178%2C1504&q=20&auto=format&w=320&fit=clip&dpr=2&usm=12&cs=strip"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://www.dalyblack.com/assets/content/iStock-642726696.jpg" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://communityimpact.com/uploads/images/2021/03/05/117026.jpg" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://i2.wp.com/sanantonioreport.org/wp-content/uploads/2021/02/ScottBall_winter-storm-environment-snow-brackenridge-park-trinity-gas-bulverde-plow-2-18-2021-1-scaled.jpg?fit=1200%2C800&ssl=1"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNa8N6XP4PmvMTX6OW2c2_HW7xgqwas7f5HA&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://www.kxan.com/wp-content/uploads/sites/40/2021/02/1-11.jpg" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://dfw.cbslocal.com/wp-content/uploads/sites/15909545/2021/02/freezing-temperatures.jpg?w=1389"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://static-11.sinclairstoryline.com/resources/media/c7044daf-007e-4f74-909f-e61661b31533-large16x9_1280x720_81019C00OIRJA.jpg?1546403718050"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwkc5do1qurqFZPqXppal73wRD3JFSYCNZhA&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://static.independent.co.uk/2021/02/25/15/GettyImages-1228014764.jpg?width=982&height=726&auto=webp&quality=75"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://i0.wp.com/ofthehearth.com/wp-content/uploads/2021/02/Amaris-and-Nitara-playing-in-2021-Texas-Freeze-snow.png?resize=590%2C440&ssl=1"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://i0.wp.com/citrusindustry.net/wp-content/uploads/2021/03/Frozen-Grapefruit-Plant-640x480-1.jpg?fit=640%2C480&ssl=1"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://assets.rebelmouse.io/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpbWFnZSI6Imh0dHBzOi8vYXNzZXRzLnJibC5tcy8yNTYzNTM4My9vcmlnaW4uanBnIiwiZXhwaXJlc19hdCI6MTY0Mzg5ODc0M30.xeluNRdvB_ltD4jMh_jl9u4klgAcfn1r_or9oew2Ed4/img.jpg?width=740&quality=80"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0qKDvf5rBNCJ1-S7LKiwd-VJy_AR-1EDSBg&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://pbs.twimg.com/media/Euep9FqWQAMuSsf.jpg" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://cdn-res.keymedia.com/cms/images/us/003/0292_637545173460588996.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZmZ-kUlcTTK5-Dw4DOG6kiWN-TQqSl5zfOQ&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://ca-times.brightspotcdn.com/dims4/default/7fad1b4/2147483647/strip/true/crop/7723x4326+0+0/resize/840x471!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2F4a%2F1a%2F1ad24d3d4db780e60c55425e9c5d%2Fhttps-delivery.gettyimages.com%2Fdownloads%2F1231190051"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://www.dallasfed.org/-/media/Images/research/economics/2021/0415/dfe0415-sm.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://img.buzzfeed.com/buzzfeed-static/static/2021-02/17/21/campaign_images/a36f80249fd7/32-pictures-that-show-just-how-freezing-cold-it-i-2-2020-1613596236-25_dblbig.jpg?resize=1200:*"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://static.straitstimes.com.sg/s3fs-public/styles/xxx_large/public/articles/2021/02/19/3_copy.jpg?itok=x5cxVBnK&timestamp=1613693035"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8sS57M5WlXEWYZUqao6lW-I5x-CDgkKGo2g&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://e3.365dm.com/21/02/768x432/skynews-richardson-texas-winter_5276292.jpg?20210218050847"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://cdn4.dogonews.com/images/4c23290f-c47a-4d0e-81b1-aee395853359/dallas_snow_2021.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://www.weather.gov/images/bro/wxevents/2021/febfreeze/photos/2.jpg" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://texasfarmbureau.org/wp-content/uploads/2021/02/RGV-citrus-freeze-TAD.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://assets.euromoneydigital.com/a3/83/68f705854bc1b788274a78465090/texas-snow-freeze-feb-2021-pa.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQajqtyf8X-iJBIYLqTesz4AZvNmynL75N9GQvuu9zKNIEOWzpepenUuz2E8cWIqhHZr9Q&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://www.gannett-cdn.com/-mm-/c49c707142b521b4739f1fe08988992d2c628ebd/c=0-76-2000-1204/local/-/media/USATODAY/USATODAY/2014/01/29//1391005775000-USL-WEATHER-29.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRho3aXytuS2avhCqJtgTNkELLz14YIvGdMVg&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://i.cbc.ca/1.5915221.1613484173!/cpImage/httpImage/texas-winter-weather.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTH3waz5xb9-MGC0SO5cgZROFEY_S8t5qXUhg&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRz3K37VaqWJe8TqPlrZuT8v_OEDPtc8rWFQ&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRi_OXA5-9yC3zJgl45xnabbfT9zn2iE9VpMA&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://www.texasgopvote.com/sites/default/files/icey%20weather%20tx_0.png"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://media.npr.org/assets/img/2021/02/18/gettyimages-1231223326-12d838b46c6090b45535c2949abafb347fa977fd.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTSkAxsNYxvKhfZxEyo5xXKy14cdJ67MIQlrg&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://thetexan.news/wp-content/uploads/2021/02/Texas-Capitol-COVID-Testing-Tent-Power-Generator-During-Freeze-2-DF-1280x853.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://static.boredpanda.com/blog/wp-content/uploads/2021/02/1361092769226326017-png__700.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://i0.wp.com/www.tameri.com/wordpress/almostclassical/wp-content/uploads/sites/3/2021/02/2021-Texas-Valentine-Freeze-2524-1920.jpeg?fit=1920%2C1440&ssl=1"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://www.poolmagazine.com/wp-content/uploads/2021/02/frozen-pool-equipment-cracked.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://miro.medium.com/max/1400/1*LAFogyAusxDlT3E1aTODJw.jpeg" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://civileats.com/wp-content/uploads/2021/03/210309-texas-big-freeze-small-farmers-support-livestock-crops-seeds-2-livestock-credit-wyscan-flickr.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQrd0OTvEyBgTk3iVcasG-SmIT8o1Tcx9EmvA&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://media.istockphoto.com/photos/snow-in-texas-picture-id1302318132?k=20&m=1302318132&s=612x612&w=0&h=QyxU9SJP8ISU6Uom7QCmGTLiyFgcyMU60E1jXFmc1qQ="
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRaZnLNkkAZONgBO9lggipEXbbLVvw5ZK0UzA&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://section44org.files.wordpress.com/2021/03/el-paso-road.jpg?w=1200" alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://d32r1sh890xpii.cloudfront.net/article/718x300/2021-05-06_8zlwqorkpn.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxvSlmLsepeszRSPtWkZ9HAPYvl6s-9RuaOw&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1gHljbRt0IiBHJS743HWuXkSta5Oia4qwJA&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://www.lone-star.com/wp-content/uploads/2021/02/Solar-Freeze-Lone-Star-scaled.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4fifUrkVSun23TdsDe_jUjZfvdhsnSqy-UQ&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://www.gannett-cdn.com/presto/2021/02/15/NAAS/e8b0e2a1-3995-43e3-b788-cd026ac1422d-BMW_Austin_Freeze_01.JPG?width=640"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRfGQ_58B0LJEi3MlxMXGiPVvVGpheuQQs8Zg&usqp=CAU"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://static.straitstimes.com.sg/s3fs-public/styles/article_pictrure_780x520_/public/articles/2021/02/16/nz_texas_160228_0.jpg?itok=rQ2UbZlA&timestamp=1613432312"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img src="https://texasislife.com/wp-content/uploads/2021/02/frozen-toilet-dallastx-2021.png"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://static.toiimg.com/thumb/msid-81085169,imgsize-202068,width-400,resizemode-4/81085169.jpg"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                  <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                    <div class="font-icon-detail">
                      <img
                        src="https://static.straitstimes.com.sg/s3fs-public/styles/xxx_large/public/articles/2021/02/19/9_copy.jpg?itok=K_tZtFcH&timestamp=1613693180"
                        alt="Freeze">
                      <p></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <ul class="nav">
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Creative Tim
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="javascript:void(0)" class="nav-link">
                Blog
              </a>
            </li>
          </ul>
          <div class="copyright">
            ©
            <script>
              document.write(new Date().getFullYear())
            </script>2018 made with <i class="tim-icons icon-heart-2"></i> by
            <a href="javascript:void(0)" target="_blank">Creative Tim</a> for a better web.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <div class="fixed-plugin">
    <div class="dropdown show-dropdown">
      <a href="#" data-toggle="dropdown">
        <!-- <i class="fa fa-cog fa-2x"> </i> -->
      </a>
      <ul class="dropdown-menu">
        <li class="header-title"> Sidebar Background</li>
        <li class="adjustments-line">
          <a href="javascript:void(0)" class="switch-trigger background-color">
            <div class="badge-colors text-center">
              <span class="badge filter badge-primary active" data-color="primary"></span>
              <span class="badge filter badge-info" data-color="blue"></span>
              <span class="badge filter badge-success" data-color="green"></span>
            </div>
            <div class="clearfix"></div>
          </a>
        </li>
        <li class="adjustments-line text-center color-change">
          <span class="color-label">LIGHT MODE</span>
          <span class="badge light-badge mr-2"></span>
          <span class="badge dark-badge ml-2"></span>
          <span class="color-label">DARK MODE</span>
        </li>
        <li class="button-container">
          <a href="https://www.creative-tim.com/product/black-dashboard" target="_blank"
            class="btn btn-primary btn-block btn-round">Download Now</a>
          <a href="https://demos.creative-tim.com/black-dashboard/docs/1.0/getting-started/introduction.html"
            target="_blank" class="btn btn-default btn-block btn-round">
            Documentation
          </a>
        </li>
        <li class="header-title">Thank you for 95 shares!</li>
        <li class="button-container text-center">
          <button id="twitter" class="btn btn-round btn-info"><i class="fab fa-twitter"></i> &middot; 45</button>
          <button id="facebook" class="btn btn-round btn-info"><i class="fab fa-facebook-f"></i> &middot; 50</button>
          <br>
          <br>
          <a class="github-button" href="https://github.com/creativetimofficial/black-dashboard"
            data-icon="octicon-star" data-size="large" data-show-count="true"
            aria-label="Star ntkme/github-buttons on GitHub">Star</a>
        </li>
      </ul>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../assets/js/core/jquery.min.js"></script>
  <script src="../assets/js/core/popper.min.js"></script>
  <script src="../assets/js/core/bootstrap.min.js"></script>
  <script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!-- Place this tag in your head or just before your close body tag. -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../assets/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Black Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../assets/js/black-dashboard.min.js?v=1.0.0"></script>
  <!-- Black Dashboard DEMO methods, don't include it in your project! -->
  <script src="../assets/demo/demo.js"></script>
  <script>
    $(document).ready(function () {
      $().ready(function () {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function (event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function () {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function () {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function () {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function () {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function () {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function () {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function () {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function () {
          $('body').addClass('white-content');
        });

        $('.dark-badge').click(function () {
          $('body').removeClass('white-content');
        });
      });
    });
  </script>
  <script src="https://cdn.trackjs.com/agent/v3/latest/t.js"></script>
  <script>
    window.TrackJS &&
      TrackJS.install({
        token: "ee6fab19c5a04ac1a32a645abde4613a",
        application: "black-dashboard-free"
      });
  </script>
</body>

</html>