<!DOCTYPE html>
<html lang="en-us">

<head>

  <meta charset="UTF-8">
  <title>Bootstrap Demo</title>

  <!-- Bring in our bootstrap stylesheet -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  
  
</head>

<body>

  <script src="https://d3js.org/d3.v6.js"></script>
  <script src="https://unpkg.com/d3-simple-slider"></script>
  
  <p id="value"></p>
  <div id="slider"></div>

  <div id="table-area" class="">
    <table id="news-table" class="table table-striped">
      <thead>
        <tr>
          <th class="table-head">Date</th>
          <td class="table-head">Event</td>
          
        </tr>
      </thead>
      <tbody id="news_table_body"></tbody>
    </table>
  </div>
  
  <script>
  var dataTime = d3.range(0, 190).map(function(d) {
      return new Date(2021, 1, 14, 15+d);
    });
  
  var dataTimeTicks=d3.range(0, 6).map(function(d) {
      return new Date(2021, 1, 15+d, 0);
    });

    var slider = d3
      .sliderHorizontal()
      .min(d3.min(dataTime))
      .max(d3.max(dataTime))
      .step(1000 * 60 * 60)
      .width(800)
      .displayValue(false)
      .on('onchange', (val) => {
        console.log(val.getHours());
        queryUrl=`http://127.0.0.1:5000/api/v1.0/news/${val.getFullYear()}/${val.getMonth()+1}/${val.getDate()}/${val.getHours()}/${val.getMinutes()}`;
        d3.json(queryUrl).then(function (newsdata) {
          
          
          // get table body html element
          var tbody = d3.select("#news_table_body")

          // clear table if there are rows there already
          var rows1 = tbody.selectAll('tr');
          rows1.remove();
          // fill table with rows from filtered data
          newsdata.forEach((newsitem) => {
          var row = tbody.append("tr");
          Object.entries(newsitem).forEach(([key, value]) => {
            var cell = row.append("td");
              cell.text(value);
          });
          });
          
        });
        d3.select('#value').text(val);
      });
  
    d3.select('#slider')
      .append('svg')
      .attr('width', 900)
      .attr('height', 100)
      .append('g')
      .attr('transform', 'translate(30,30)')
      .call(slider);
  </script>
</body>

</html>
